version: '3.8'

services:
  frontend:
    image: sermalenk/skypro-front:lesson-34
    restart: always
    depends_on:
      - api
    ports:
      - "80:80"
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: ashevchenko64/diploma:$GITHUB_REF_NAME-$GITHUB_RIN_ID
    restart: always
    environment:
        - DEBUG=$DEBUG
        - POSTGRES_HOST=$POSTGRES_HOST
        - POSTGRES_USER=$POSTGRES_USER
        - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
        - POSTGRES_DB=$POSTGRES_DB
        - SECRET_KEY=$SECRET_KEY
    depends_on:
      db:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
    ports:
      - "8000:8000"
  migrations:
    image: ashevchenko64/diploma:$GITHUB_REF_NAME-$GITHUB_RIN_ID
    depends_on:
      db:
        condition: service_healthy
    environment:
        - POSTGRES_HOST=$POSTGRES_HOST
        - POSTGRES_USER=$POSTGRES_USER
        - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
        - POSTGRES_DB=$POSTGRES_DB
        - SECRET_KEY=$SECRET_KEY
    command: >
      sh -c "python .\manage.py migrate"
  db:
    image: postgres:15.1-alpine
    restart: on-failure
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}
      interval: 3s
      timeout: 3s
      retries: 3


volumes:
  pg_data:

